.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    height: 10%;
    padding-top: 20px;
}

.flex-child:first-child {
    margin-right: 20px;
}

@media (max-width: 1217px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-child {
        height: 2%;
    }
}

.details-card-image {
    max-height: 50%;
    max-width: 50%;
    margin-left: 25%;
}

.home-button {
    font-family: Cinzel;
    font-weight: 600;
    border-left: 2px solid #ddbf3d;
    padding-left: 5px;
}

.card-text {
    font-family: Cinzel;
    font-weight: 600;
}

.card-paragraph {
    font-family: Lato;
}

.bookshelf-buttons {
    justify-content: center;
    display: flex;
    margin-top: 87px;
}

.read-buttons {
    height: 10%;
    border: none;
    background: none;
    margin-bottom: 44%;
    position: absolute;
    top: 269px;
}

.more-info {
    height: 10%;
    border: none;
    background: none;
    margin-bottom: 44%;
    position: absolute;
    top: 5px;
    margin-left: 136px;
}

.more-info-home {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.read-button {
    width: 30px;
}

.bookshelfButton {
    margin-top: 15px;
}

.logo-text {
    font-family: Cinzel;
}

.logo-container {
    text-align: center;
    border-left: 2px solid #ddbf3d;
    padding-left: 5px;
}

.inputField {
    max-width: 600px;
}

.book-details {
    margin-left: auto;
}

.botw {
    font-family: Castoro Titling;
}

.auText {
    font-family: Ysabeau;
}

.card {
    background-color: #dfdad78c;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.card>.row>.col-6 {
    aspect-ratio: 2/3;
}

.card-image {
    object-fit: cover;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
}

.card-body {
    height: 100%;
}

.card-title {
    font-family: 'Cinzel', serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cardPadding {
    padding-bottom: 15px;
}

.delete-item {
    border: none;
    background: none;
    margin-bottom: 44%;
    position: absolute;
    top: 5px;
    left: 389px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0);
    width: 22px;
    height: 23px;
}

.random-button {
    height: 20px;
    width: 20px;
    border: none;
    background: url('../src/imgs/x-button.png') no-repeat;
    background-size: 20px;
}

.footer {
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-div {
    background-color: rgba(0, 0, 0, 0.2)
}

.btnDiv {
    padding: 17px;
    margin-right: 4%;
}

.weekly-book {
    max-width: 90%;
    margin: 0 auto;
    margin-left: 16.9%;
}

@media (max-width: 767px) {
    .weekly-book {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

.details-card {
    width: 100%;
    flex-direction: row;
}

.details-card-image {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    margin-left: 89px;
}

.results {
    margin-left: auto;
    margin-top: 4%;
    z-index: 0;
}

.about {
    background-color: #ddb99d;
    border: none;
}

#bg {
    background-color: #e0af89;
}

.navbar {
    background-color: #FFF2CC;
    position: absolute;
    width: 100%;
    line-height: 25px;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.btn,
.btn.active {
    background-color: #FFF2CC;
    color: #000000;
    margin-left: 3%;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.btn2 {
    background-color: #FFF2CC;
    color: #000000;
    margin: 0 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.btn:hover {
    color: teal;
    background-color: #FFD966;
    border-color: #FFF2CC;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 72%;
    }
}

@media (min-width: 1030px) {
    .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.fas {
    color: #709085
}

#formstyle {
    width: 23rem;
    margin-bottom: 36%;
    margin-left: auto;
    margin-right: auto;
}

#h3style {
    letter-spacing: 1px;
}

#loginimage {
    object-fit: cover;
    object-position: left;
}