.inputField {
    width: 50%;
    margin-left: 22%;
}

.card {
    width: 400px;
    flex-direction: row;
    /* z-index: -1; */
}

.delete-item {
    border: none;
    background: none;
    margin-bottom: 44%;
}

.footer {
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-div {
    background-color: rgba(0, 0, 0, 0.2)
}

.btnDiv {
    padding: 17px;
    margin-right: 1.5%;
}

.details-card {
    width: 200%;
    flex-direction: row;
    margin-left: 48%;
}

.results {
    margin-left: 18%;
    margin-top: 4%;
    z-index: 0;
}

.cardImage {
    max-width: 200px;
    max-height: 362px;
    width: 150px;
    height: 200px;
}

.cardPadding {
    padding-bottom: 15px;
}

.about {
    background-color: #ddb99d;
    border: none;
}

#bg {
    background-color: #e0af89;
}

.navbar {
    background-color: #FFF2CC;
    position: absolute;
    width: 100%;
    line-height: 25px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.btn {
    background-color: #FFF2CC;
    color: #000000;
}

.btn:hover {
    color: teal;
    background-color: #FFD966;
    border-color: #FFF2CC;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.fas {
    color: #709085
}

#formstyle {
    width: 23rem;
    margin-bottom: 36%;
    margin-left: 28%;
}

#h3style {
    letter-spacing: 1px;
}

#loginimage {
    object-fit: cover;
    object-position: left;
}